<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>@ViewData["Title"] - Caf&#x00e9; Analog</title>
</head>
<body>

@RenderBody()

</body>
</html>
