.bottom-menu {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    background-color: $bottom-menu-bg;

    ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            text-align: center;
            width: 100%;

            a {
                display: block;
                padding-top: 0.75rem;
                padding-bottom: 0.75rem;
                font-size: 1.5rem;

                &:hover {
                    background-color: shade-color($bottom-menu-bg, 20%);
                }
            }
        }
    }
}

@media (min-width: $query-min-width) {
    .bottom-menu {
        display: none;
    }
}
