.leaderboard {

    .container {
        display: flex;
        flex-direction: column;
    }

    .leaderboard-heading {
        text-align: center;
        font-weight: 900;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
        text-transform: uppercase;
    }

    .ranking {
        border-radius: 0.35rem;
        margin-bottom: 0.35rem;
        font-size: 1.3rem;
        display: flex;
        flex-direction: row;
        height: $ranking-height;
        line-height: $ranking-height;
        padding-left: 1rem;
        padding-right: 1rem;

        span {
            text-overflow: ellipsis;
            overflow: hidden !important;
            white-space: nowrap;
        }

        span:nth-of-type(1) {
            max-width: 85%
        }

        span:nth-of-type(2) {
            margin-left: auto;
            margin-right: 0;
        }

        &:nth-child(1) {
            background-color: $first-place-color;
        }

        &:nth-child(2) {
            background-color: $second-place-color;
        }

        &:nth-child(3) {
            background-color: $third-place-color;
            margin-bottom: 1.5rem;
        }

        &:nth-child(n+4) {
            background-color: $rest-color;
        }

        &:nth-child(2n+4) {
            background-color: shade-color($rest-color, 25%);
        }
    }
}
