// Colors dependent on ranking
$firstplace-color: #A89E45;
$secondplace-color: #B6B6B6;
$thirdplace-color: #855722;

// All rankings except 1st, 2nd and 3rd place's color
$rest-color: #3a280b;

.leaderboard {
  
  .leaderboard-heading {
    text-align: center;
    font-weight: 900;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }
  
  .rank-placement {
    vertical-align: middle
  }
  
  .ranking {
    border-radius: 0.35rem;
    margin-bottom: 0.35rem;
    font-size: 1.5rem;
    height: 3rem;
    line-height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;

    p {
      display: flex;
      justify-content: space-between;
    }

    &:nth-child(1 of .ranking) {
      background-color: $firstplace-color;
    }

    &:nth-child(2 of .ranking) {
      background-color: $secondplace-color;
    }

    &:nth-child(3 of .ranking) {
      background-color: $thirdplace-color;
      margin-bottom: 1.5rem;
    }

    &:nth-child(n+4 of .ranking) {
      background-color: $rest-color;
    }
    
    &:nth-child(2n+4 of .ranking) {
      background-color: shade-color($rest-color, 25%);
    }
  }
}



