main {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem 1rem 0 0;
    background-color: #654f4f;

    &::before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $top-bg;
    }
}
