.top-menu {
    display: none;
    margin-left: 1.5rem;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;

            a {
                display: block;
                padding: 1rem 1.25rem;
                text-decoration: none;

                &:hover {
                    background-color: shade-color($top-bg, 20%);
                }

                i {
                    margin-right: 0.25rem;
                }
            }
        }
    }
}

@media (min-width: $query-min-width) {
    .top-menu {
        display: inline-block;
    }
}
