@import "../node_modules/bootstrap/scss/functions";

// Default variable overrides go below this comment.
$body-bg: #654f4f;
$body-color: #fff;
$primary: #51a71c;

$font-family-sans-serif: "Rubik", sans-serif;

$link-color: #fff;
$link-decoration: none;
$link-hover-decoration: underline;

$h1-font-size: 3.5rem;

$text-muted: #dee2e6;

$form-check-input-border: 1px solid #ced4da;

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/utilities/api";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/helpers";

// Custom variables go below this comment.
$top-bg: #3a280b;
$bottom-menu-bg: #2e2222;

$query-min-width: 768px;

@import "main";
@import "footer";
@import "top";
@import "top-menu";
@import "bottom-menu";
