@import "../node_modules/bootstrap/scss/functions";

// Default variable overrides go below this comment.
$body-bg: #654f4f;
$body-color: #ddd;
$primary: #51a71c;
$secondary: #f1f0f0;
$danger: #ff4859;

$border-radius: 0.5rem;
$border-width: 3px;

$font-family-sans-serif: "Rubik", sans-serif;

$link-color: #fff;
$link-decoration: none;
$link-hover-decoration: underline;

$text-muted: #dee2e6;

$btn-padding-x: 1rem;
$btn-padding-y: 0.5rem;
$btn-font-weight: 700;

$input-padding-x: 1rem;
$input-border-radius: 2.5rem;
$input-border-color: #927979;
$input-bg: #f1f0f0;
$input-color: #333;
$input-placeholder-color: shade-color(#dbcfcf, 30%);

$form-check-input-width: 1.5em;
$form-check-input-border: $border-width solid $input-border-color;

$modal-content-color: #333;

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/utilities/api";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/helpers";

// Custom variables go below this comment.
$main-bg: #654f4f;
$top-bg: #3a280b;
$bottom-menu-bg: #2e2222;

$item-bg: #f6b26b;
$item-color: #361c01;

$query-min-width: 992px;

@import "main";
@import "footer";
@import "top";
@import "top-menu";
@import "bottom-menu";
@import "items";
@import "shop";
@import "inventory";

.form-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 25rem;
}

.btn-secondary {
    color: #666;

    &:hover {
        color: #333;
    }
}

.validation-summary-errors {
    padding: 0.5rem 0.25rem 1rem;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            color: $danger;
            font-weight: 500;
        }
    }
}
