@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 col-9 mx-auto">
    <h1>Log in</h1>

    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@Model.ReturnUrl">
        <div asp-validation-summary="All"></div>

        <div class="mb-3">
            <input asp-for="Email" class="form-control" />
        </div>

        <div class="mb-3">
            <input asp-for="Password" class="form-control" />
        </div>

        <div class="mb-3 form-check">
            <label asp-for="IsPersistent" class="form-check-label"></label>
            <input asp-for="IsPersistent" class="form-check-input" />
        </div>

        <button type="submit" class="btn btn-primary">Log in</button>
    </form>
</div>
