@model RegisterModel

@{
    ViewData["Title"] = "Register";
}

<div class="container form-container">
    <h1>Register</h1>

    <form asp-controller="Account" asp-action="Register">
        <div asp-validation-summary="All"></div>

        <div class="mb-3">
            <input asp-for="FirstName" class="form-control" />
        </div>

        <div class="mb-3">
            <input asp-for="LastName" class="form-control" />
        </div>

        <div class="mb-3">
            <input asp-for="Email" class="form-control" />
        </div>

        <div class="mb-3">
            <input asp-for="MobileNumber" class="form-control" />
        </div>

        <div class="mb-3">
            <input asp-for="Password" class="form-control" />
            <div class="form-text mx-1">Password must be at least 8 characters, and must have at least one lowercase, uppercase or digit.</div>
        </div>

        <div class="mb-3">
            <input asp-for="PasswordConfirmation" class="form-control" />
        </div>

        <button type="submit" class="btn btn-secondary">Register</button>
    </form>
</div>
