@model List<RankingModel>

@{
    ViewData["Title"] = "Leaderboard";
}
<div class="leaderboard">
    <h1 class="leaderboard-heading">Leaderboard</h1>
    <div class="container">
        @foreach (var ranking in Model)
        {
            <div class="ranking">
                <p>
                    <span>@ranking.FirstName @ranking.LastName</span>
                    <span>@ranking.Score</span>
                </p>
            </div>
        }
    </div>
</div>

