@model LeaderboardModel

@{
    ViewData["Title"] = "Leaderboard";
}
<div class="leaderboard">
    <h1 class="leaderboard-heading">Leaderboard</h1>
    <div class="container">
        <div class="ranking">
            <p>
                <span>Flo</span>
                <span>60</span>
            </p>
        </div>
        <div class="ranking">
            <p>
                <span>Flo</span>
                <span>60</span>
            </p>
        </div>
        <div class="ranking">
            <p>
                <span>Flo</span>
                <span>60</span>
            </p>
        </div>
        <div class="ranking">
            <p>
                <span>Flo</span>
                <span>60</span>
            </p>
        </div>
    </div>
</div>

